.media-library-view-wrapper {
  max-width: $large-width;
  padding: 30px 30px 100px 30px;
  text-align: left;

  .preview-wrapper {
    position: relative;

    .ReactCrop{
      margin-top:10px;
    }

    .crop {
      @include absolute($top:0, $right: 0);
    }
  }
  .file-upload-error-message{
    padding-top:10px;
    color:#c30016;
  }

  .media-upload-wrapper{
    .files-dropzone{
      text-align: center;
      border: 3px dashed rgba(43,167,119,1);
      padding: 50px;
      border-radius: 10px;
      cursor: pointer;
    }

    .files-dropzone:hover{
      border-color: rgba(43,167,119,.5);
    }

    .files-dropzone:focus{
      border-color: rgba(43,167,119,.5);
    }
    .files-dropzone-active{
      color:rgba(43,167,119,.7);
      border-color: rgba(43,167,119,.7);

    }
  }

  .media-cropper-preview{
    img{
      max-width: $large-width;
    }
  }
}
