.navigation-side-bar-wrapper {
  @include box-shadow(0, 1px, 5px, rgba(174, 171, 171, 0.5));
  width: $navBarWidth;
  height: 100vh;
  float: left;
  background-color: #1f2f38;
  color: #FFF;
  position: relative;  
  min-height: 785px;

  .inner {
    .logged-in-box {
      margin: 15px 0;
      font-size: 15px;
      text-align: center;

      p {
        margin: 0;
      }
    }

    .menu-item {
      display: block;
      width: $navBarWidth;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      border-top: solid 1px #3A474F;
      padding: 10px 0;

      &.border-bottom {
        border-bottom: solid 1px #3A474F;
      }

      &:hover, &.selected {
        color: #1f2f38;
        background-color: #beeaae;
      }
    }
  }

  .language-toggle {
    @include absolute($bottom: 10px, $left: calc(50% - 15px));
    width: 30px;
  }

  .inactivated-description {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;

    .warning-icon {
      display: inline-block;
      margin-top: 10px;
      @include svg-icon-w-fallback( '../Images/Icons/icon_warning.svg', '', 30px, 30px);
    }
    p {
      margin-top: 0px;
      padding: 0 15px 0 15px;

      &.contact {
        padding-bottom: 15px;
      }
    }
    .btn {
      padding: 10px;
    }
  }
}
